// Folder configuration.
@themesFolder:  themes;
@siteFolder:    "semantic-ui/site";

// Theme specification for each component. When upgrading to a new
// version of Fomantic UI, new components will need a new variable here.
@site:        default;
@reset:       default;
@accordion:   default;
@ad:          default;
@breadcrumb:  default;
@button:      default;
@calendar:    default;
@card:        default;
@checkbox:    default;
@comment:     default;
@container:   default;
@dimmer:      default;
@divider:     default;
@dropdown:    default;
@embed:       default;
@emoji:       default;
@feed:        default;
@flag:        default;
@form:        default;
@grid:        default;
@header:      default;
@icon:        default;
@image:       default;
@input:       default;
@item:        default;
@label:       default;
@list:        default;
@loader:      default;
@menu:        default;
@message:     default;
@modal:       default;
@nag:         default;
@placeholder: default;
@popup:       default;
@progress:    default;
@rail:        default;
@rating:      default;
@reveal:      default;
@search:      default;
@segment:     default;
@shape:       default;
@sidebar:     default;
@slider:      default;
@statistic:   default;
@step:        default;
@sticky:      default;
@tab:         default;
@table:       default;
@text:        default;
@toast:       default;
@transition:  default;

// Import Fomantic UI.
@import (multiple) "fomantic-ui-less/theme.less";

// Workaround for https://github.com/Semantic-Org/Semantic-UI-LESS/issues/14.
// This must be located after the import.
@fontPath: ../assets/fonts;
