/node_modules
e2e-tests/state*.json
e2e-tests/scratch/
e2e-tests/test-results/
test-results
/dist
/public/_metadata
.vercel

# Allow people to set up their own shell-local environments:
.direnv
.envrc
